@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

subtitle {
    margin: 0px;
    margin-left: 4.42vh;
    padding: 0px;
    font-family: "Open Sans";
    color: rgb(153, 153, 153);;
    font-weight: 400;
  }
  
.subtitle {
    margin: 0px;
    margin-left: 4.42vh;
    padding: 0px;
    font-family: "Open Sans";
    color: rgb(153, 153, 153);;
    font-weight: 900;
  }
  
.contactform {
    position: absolute;
/*    border-right: 4.5px solid rgb(0, 0, 0, .5); 
    padding-top: 1.2%;
    padding-bottom: 3.6%;
    padding-right: 1.2%;
    height: 250px;  */

    margin: 0 auto;

    top: 35%;
    margin-top: -35px;
    
    left: 15.6%;
    margin-left: -15.6px;

}

.submitButton {
  font-family: "Open Sans";
  margin-left: 4.42vh;
  border-radius: 4.91vh;
  background-color: 333333;
  display: block;
  color: rgb(153, 153, 153);;
  font-size: 1.72vh;
  height: 3.69vh;
  padding-left: 1.97vh;
  padding-right: 1.97vh;
  padding-top: 0.37vh;
  padding-bottom: 0px;
  border: hidden;
  text-decoration: none;
}

.submitButton:hover {
  background-color: #252525;
  transform: scale(1.05);
}

.emailField {
  border: hidden;
  margin: 0px;
  margin-left: 4.42vh;
  padding: 0px;
  font-family: "Open Sans";
  font-size: medium;
  background-color: rgba(0, 0, 0, .26);
  color: grey;
}

.message {
  color: grey;
  border: hidden;
  margin: 0px;
  margin-left: 4.42vh;
  padding: 0px;
  font-size: medium;
  font-family: "Open Sans";
  background-color: rgba(0, 0, 0, .26);
  height: 12.27vh;
  width: 44.22vh;
  max-width: 44.22vh;
  max-height: 12.27vh;
  }

.our-info {
  font-family: "Open Sans";
  background-color: rgba(0, 0, 0, .26);
  float: left;
  display: block;
  color: rgb(153, 153, 153);;
  position: absolute;
  margin: 0 auto;

  top: 36%;
  margin-top: -36px;

  left: 50%;
  margin-left: -50px;

  padding-left: 12px;
  padding-right: 12px;
}