@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

subtitle {
    margin: 0px;
    margin-left: 36px;
    padding: 0px;
    font-family: "Open Sans";
    font-weight: 400;
  }
  
.subtitle {
    margin: 0px;
    margin-left: 36px;
    padding: 0px;
    font-family: "Open Sans";
    font-weight: 900;
  }
  
.contactform {
    margin-top: 146px;
    margin-left: 472px;
}

.submitButton {
  font-family: "Open Sans";
  margin-left: 36px;
  border-radius: 40px;
  background-color: 333333;
  display: block;
  color: grey;
  font-size: 14px;
  height: 30px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 0px;
  border: hidden;
  color: white;
  text-decoration: none;
}

.submitButton:hover {
  background-color: #252525;
  transform: scale(1.05);
}

.emailField {
  border: hidden;
  margin: 0px;
  margin-left: 36px;
  padding: 0px;
  font-family: "Open Sans";
  background-color: rgb(0, 0, 0, .26);
  color: white;
}

.message {
  color: white;
  border: hidden;
  margin: 0px;
  margin-left: 36px;
  padding: 0px;
  font-family: "Open Sans";
  background-color: rgb(0, 0, 0, .26);
  height: 100px;
  width: 360px;
  max-width: 360px;
  max-height: 100px;
  }
