@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

#topBeam {
  width: 100vw;
  height: 4.9vh;
}

#banner {
  width: 100vw;
  background-color: #f8f1a3;
  height: 25.06vh;
  padding-top: 2.46vh;
}

#banner > img {
  float: left;
  height: 20px;
  padding-top: 2.46vh;
  padding-left: 9.82vh;
}

#banner > h1 {
  text-align: center;
  padding-right: 9.82vh;
  font-family: "Open Sans";
}

#staffApply {
  background-color: #d9d9d9;
}

body {
  margin: 0;
  overflow: hidden;
  background: url('../background.png') center no-repeat;
}

p {
  font-family: "Open Sans";
  font-size: 16px;
}

.title {
  position: absolute;
  padding-left: 1.23vh;
  padding-top: 1.23vh;
  
}

p#infotext-top {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 1.2px;
}

p#infotext-bottom {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 1.2px;
}

p#infotext-middle {
  margin-top: 1.2px;
  margin-bottom: 1.2px;
  padding-left: 12px;
  padding-right: 12px;
}

.info {
  font-family: "Open Sans";
  font-size: 16px;
  margin-top: 38vh;
  margin-left: 45vh;
  background-color: rgb(0, 0, 0, .26);
  color: black;
  display: block;
  float: left;
}

.websiteName {
  font-family: "Open Sans";
  margin: 0;
  margin-top: 70.5vh;
  margin-left: 0.72%;
  color: rgb(226, 187, 120, .90);
  filter: blur(2.5px);
  font-size: 90px;
}

.logo {
  margin: 0;
  padding: 0;
  height: 15.72vh;
  width: 15.72vh;
}

.ip-container {
  font-family: "Open Sans";
  font-size: 16px;
  float: left;
  margin-left: 140vh;
  margin-top: 4.8vh;
  padding: 0;
  padding-left: 8.4px;
  padding-right: 8.4px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  position: absolute;
  background-color: rgb(0, 0, 0, .64);
  color: black;
  border: hidden;
  border-radius: 5vh;
}

#li-ip-logo {
  margin: 0;
  margin-top: 12px;
  float: left;
}

#li-ip-ip {
  float: left;
  color: white;
}