@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

#topBeam {
  width: 100vw;
  height: 4.9vh;
}

#banner {
  width: 100vw;
  background-color: #f8f1a3;
  height: 25.06vh;
  padding-top: 2.46vh;
}

#banner > img {
  float: left;
  height: 20px;
  padding-top: 2.46vh;
  padding-left: 9.82vh;
}

#banner > h1 {
  text-align: center;
  padding-right: 9.82vh;
  font-family: "Open Sans";
}

#staffApply {
  background-color: #d9d9d9;
}

body {
  margin: 0;
  overflow: hidden;
  background: url('../background.png') center no-repeat;
}

p {
  font-family: "Open Sans";
  font-size: 1.97vh;
}

.title {
  position: absolute;
  padding-left: 1.23vh;
  padding-top: 1.23vh;
  
}

.info {
  font-family: "Open Sans";
  font-size: 1.97vh;
  margin-top: 14.98vh;
  margin-left: 14.98vh;
  margin-right: 81.08vh;
}

.websiteName {
  font-family: "Open Sans";
  margin: 0;
  margin-top: 40.2%;
  margin-left: 0.72%;
  color: rgb(226, 187, 120, .90);
  filter: blur(2.5px);
  font-size: 90px;
}

.logo {
  margin: 0;
  padding: 0;
  height: 15.72vh;
  width: 15.72vh;
}
