@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

#topBeam {
  width: 100vw;
  background-color: #000000;
  height: 5vh
}

#banner {
  width: 100vw;
  background-color: #f8f1a3;
  height: 25vh;
}

#banner > img {
  float: left;
  height: 20vh;
  padding-top: 2.5vh;
  padding-left: 10vh;
}

#banner > h1 {
  text-align: center;
  padding-top: 2.5vh;
  padding-right: 30vh;
  font-family: "Open Sans";
}

body {
  margin: 0;
  overflow: hidden;
}

p {
  font-family: "Open Sans";
  font-size: 2vh;
  padding-left: 30vh;
}
