.menubar {
    height: 40px;
    list-style-type: none;
    overflow: hidden;
    position: absolute;

    margin: 0 auto;

    top: 7%;
    margin-top: -7px;
    
    left: 20%;
    margin-left: -20px;

    font-family: "Open Sans";
}

li#button {
    border-radius: 20px;
    float: left;
    background-color: 333333;
    display: block;
    color: grey;
    font-size: 14px;
    height: 30px;
    padding-left: 1.97vh;
    padding-right: 1.79vh;
    padding-top: 0.36vh;
    padding-bottom: 0px;
    margin-left: 0.61vh;
    margin-right: 0.61vh;
    text-decoration: none;
}

a#context {
    display: block;
    color: white;
    font-size: 14px;
    padding-left: 1.97vh;
    padding-right: 1.97vh;
    padding-top: 0.36vh;;
    padding-bottom: 0px;
    height: 30px;
    text-decoration: none;
}

li#button:hover {
    background-color: #252525;
    transform: scale(1.05);
}